
<div class="center jumbotron">
  <h1>Welcome to Fondify</h1>
  <% if @projects %>
	  <% @projects.each do |project| %>
	    <%= image_tag(project.image_url(:thumb).to_s) %>
	  <% end %>
	<% end %>
</div>






