<div class="block">
    <%= link_to "Add New Project", new_project_path, class: "btn btn-large btn-warning" %>
</div>

<% if @projects %>
	<h1>Projects</h1>
	<div class="row">
	<table class="table table-striped">
	 <tr class="something">
	   <th id="tabletitle1" class="col-md-2">Title</th>
	   <th id="tabletitle2" class="col-md-2">Description</th>
	   <th id="tabletitle3" class="col-md-2">Image</th>
	   <th id="tabletitle3" class="col-md-4">Status</th>
	   <th colspan="6"></th>
	 </tr>
	 <% @projects.each do |project| %>
	   <tr>
	     <td><%= project.title %></td>
	     <td><%= project.description %></td>
	     <td><%= image_tag(project.image_url(:thumb)) if project.image? %></td>
	     <% if project.status == false %>
	       <td>No Accept</td></td>
	     <% else %>
	       <td>Accept</td></td>
	     <% end %>
	   </tr>
	 <% end %>
	</table>
	</div>
<% end %>